<div id="tableContainer">

  
    <mat-form-field class="filterInput">
      <mat-label>Filter by {{config.filterOptions.title | titlecase}}</mat-label>
      <mat-select [(value)]="selectedOption" (selectionChange)="applyFilter()">
        <mat-option *ngFor="let option of filterOptions" [value]="option">
          {{ option | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  

  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"
                 showFirstLastButtons
                 aria-label="page size options">
  </mat-paginator>

  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column | titlecase}}</th>

      <span *ngIf="column == 'actions'">
        <td *matCellDef="let product">
          <button *ngIf="config.actions.edit"
            mat-button (click)="editProduct(product)"><mat-icon>edit</mat-icon></button>
          <button *ngIf="config.actions.delete"
            mat-button
            (click)="deleteProduct(product.sku)"><mat-icon>delete</mat-icon></button>
          </td>
      </span>

        <td mat-cell *matCellDef="let product">{{ product[column] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

</div>
